<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HackerRank</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div id="container">
            <div id="image">
                <div id="top">
                    <div id="sky"></div>
                </div>
                <div id="bottom">
                    <div id="ground"></div>
                </div>
                <div id="text">
                    <h1>HACKERRANK</h1>
                    <div id="nav">
                        <div>
                            <input class="dropdown-toggle form-control" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="text" placeholder="Search for users" />
                            <div id="dropdownMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            </div>
                        </div>
                        @if (User.IsInRole("Administrator"))
                        {
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="AllUsers">All users list</a>
                            <a class="nav-link text-light" href="/Hangfire" add target="_blank">Hangfire</a>
                        }
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </div>
            @*<ul>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            @if (User.IsInRole("Administrator"))
            {
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="AllUsers">All users list</a>
                </li>
                <li>
                    <a href="/Hangfire" add target="_blank">Hangfire</a>
                </li>
            }
            <li>
                <input class="dropdown-toggle form-control" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="text" placeholder="Search for users" />
                <div id="dropdownMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                </div>
            </li>
        </ul>
        <partial name="_LoginPartial" />*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - HackerRank - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
