@model IEnumerable<HackerRank.ViewModels.TopFiveViewModel>

<div class="text-center">
    @foreach (var item in Model)
    {
        if (item.GroupRating != 0)
        {
            <div>
                @Html.DisplayFor(modelItem => item.WebHookResponse.WebHookMergeResponse)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.WebHookResponse.WebHookIssueResponse)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.WebHookResponse.WebHookCommitResponse)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.WebHookResponse.WebHookCommentResponse)
            </div>
        }
    }
</div>
