.detail-contianer {
    background-color: cyan;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-card {
    background-color: white;
    text-align: center;
    width: 500px;
    border-radius: 18px;
    margin: 20px 0 20px 0;
}
.detail-image {
    border: 3px solid silver;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 5px 5px 20px #ccc;
    width: 300px;
    height: 300px;
}
.detail-description {
    text-align: left;
    padding: 4px 12px 4px 12px;
    margin-bottom: 0;
}
.detail-link{
    padding:10px;
    font-size:1em;
}
.detail-contianer h5 {
    padding: 0 12px 0 12px;
}
