@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    
}
.img-background{
    background-image: url(../img/80s-vintage-retro-sunset-landscape_1390-788.jpg);
    background-repeat:no-repeat; 
    background-position:center;
    /* height: calc(100vh - 138px); */
    height: 92vh;
    background-size:cover;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.box{
        display: flex;
        
    justify-content: center;
}
.Homepage-header{
    font-family: 'Press Start 2P', cursive;
    /* color: white; */
    
    /* background: linear-gradient(180deg, rgba(34, 178, 240, 0.86) 0%, rgba(233, 19, 186, 0.86) 100%); */
    /* background: linear-gradient(146deg, rgba(5,64,122,0.86) 0%, rgba(7,187,249,0.86) 30%, rgba(147,61,252,0.86) 70%, rgba(163,11,196,0.86) 100%);
    background: linear-gradient(146deg, rgba(5,64,122,0.86) 0%, rgba(7,187,249,0.86) 30%, rgba(147,61,252,0.86) 60%, rgba(199,160,208,0.86) 80%, rgba(163,11,196,0.7) 100%);
    background: linear-gradient(146deg, rgba(122,5,98,0.86) 0%, rgba(74,17,196,0.86) 25%, rgba(61,219,252,0.86) 50%, rgba(74,17,196,0.86) 75%, rgba(122,5,98,0.86) 100%); */
    background: linear-gradient(146deg, rgba(219,12,177,0.86) 0%, rgba(116,17,196,0.86) 25%, rgba(61,219,252,0.86) 50%, rgba(116,17,196,0.86) 75%, rgba(219,12,177,0.86) 100%);
    background: linear-gradient(146deg, rgba(219,12,177,0.9) 0%, rgba(116,17,196,0.86) 20%, rgba(61,219,252,0.86) 40%, rgba(255,255,255,0.9) 50%, rgba(61,219,252,0.86) 60%, rgba(116,17,196,0.86) 80%, rgba(219,12,177,0.9) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin-top: 3.2%;
    margin-bottom: 5%;
    filter: drop-shadow(16px 16px 2px #333) drop-shadow(2px 2px 10px rgb(255, 0, 255,0.7));
    background-size: 400%;
    animation: title 25s ease-in-out infinite alternate;
    
    transform:perspective(1000px) rotateX(25deg);
    letter-spacing: 0.05em;
    
    
    
    

    /* position: absolute;  */
/* width: 1141px;
height: 377px;
left: 413px;
top: 49px; */

/* font-family: Press Start 2P; */
/* font-style: normal;
font-weight: normal; */
font-size: 15em;
font-weight: bold;
/* line-height: 2em; */


/* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), 4px 4px 4px rgba(0, 0, 0, 0.1), 6px 6px 4px rgba(0, 0, 0, 0.5), 8px 8px 4px rgba(0, 0, 0, 0.5), 10px 10px 4px rgba(0, 0, 0, 0.5);
} */
}

@keyframes title {
    0%{
        background-position: right;
    }
    100%{
        background-position: left;
    }
    
}
.containers{
    
    
    display: flex;
    
    height: 100%;
    justify-content: space-evenly;
    margin-left: 5em;
    margin-right: 5em;
    /* align-items: center; */
    
}
.box-bottom{
    
    background-color:rgb(0, 0, 0, 0.5);
    width: 20vw;
    height: 70%;
    
    align-self: flex-end;
    margin-bottom: 30px;
    border-radius: 10px;
}
.live-feed{
    height: 80%;
}

.score-card{
    display: flex;
    flex-wrap: wrap;
}

.paragraphs{
    display: flex;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.ranking h2{
    color: white;
    text-align: center;
    font-size: 3em;
    margin: 0.5em 0 0.7em 0;
    font-family: 'Press Start 2P';
    font-weight: 100;
    letter-spacing: 0.2em;

}
.ranking img{
    border-radius: 50%;
    width: 8em;
    height: 8em;
    align-self: center;
    margin-left: 8px;
    margin-right: 4px;
}
.ranking h3{
    color: white;
    font-size: 1em;
}
.ranking p{
    /* color: white;
    font-size: 0.7em; */
    
    
}

.white{
    color: white;
    margin-bottom: 0;
    font-size: 2.3em;
    margin-left: 4px;
    font-weight: 600;
    /* padding-top: 4px; */
    padding-bottom: 4px;
}
.stats{
    padding-left: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.flex-card{
    display: flex;
    background-color: rgb(5, 86, 100, 0.4);
    border-radius: 8px;
    margin: 6px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.flex-paragraf{
    display: inline-flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    
    line-height: 1.6;
   
    
}
.flex-item{
    /* width: 60px */
    margin: 4px 0px 4px 4px;
    /* line-height: 0 !important; */
    color: white;
    font-size: 1.45em;
    width: 33.3%;  
}
.flex-item:nth-child(2){
    margin-left: 18px;
}
.flex-item:nth-child(3){
    margin-left: 8px;
}

.flex-paragraf p{
    /* line-height: 1.25; */
}
.live-feed h2{
        color: white;
    text-align: center;
}